<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>315756780805-rkav27v2mlmeatv8p1q1uk8jqh4q7ndl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315756780805-rkav27v2mlmeatv8p1q1uk8jqh4q7ndl</string>
	<key>API_KEY</key>
	<string>AIzaSyBF6RaQ4X01iBeam_GERXlLLHDNdTecyjY</string>
	<key>GCM_SENDER_ID</key>
	<string>315756780805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jhyejun.MilitaryTO</string>
	<key>PROJECT_ID</key>
	<string>military-to</string>
	<key>STORAGE_BUCKET</key>
	<string>military-to.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315756780805:ios:f55cf5825436f41c</string>
	<key>DATABASE_URL</key>
	<string>https://military-to.firebaseio.com</string>
</dict>
</plist>